body
{
}

.spacer
{
	width: 100%;
	height: 100px;
}

.row
{
	background-color: transparent;
}

.container
{
	width: 95%;
}

.panel
{
	box-shadow : 5px 5px 10px rgba(0,0,0,.05);
}

.col-md-2 h2
{
	font-size: 20px;
	display:block;
	border-bottom: #ddd solid 1px;
	padding-bottom: 10px;
	margin-top:3px;
}
.note
{
	box-shadow: 3px 3px 4px #eee;
	z-index: 99;
}
.note .content
{
	padding: 0px;
}

.note .content .text
{
	padding: 5px;
	margin-right:20px;
}

.column
{
	padding: 2px;
}
.innercol
{
	padding: 10px;
}
.note_actions
{
	float:right;
	padding: 5px;
	margin-top: -1px;
	margin-right: -1px;
}

.note_actions
{
	opacity: 0.5;
}
.add
{
	border-top: #ddd 1px solid;
	padding-top: 5px;
	text-align:right;
}
.dropZone
{
	height: 30px;
	border: 3px dashed #ccc;
	margin-bottom:10px;
	margin-top:-10px;
	border-radius: 10px;
	display:none;
}
.dragged
{
	opacity: 0.5;
}
#logoDrop
{
	position:absolute;
	font-size: 40px;
	margin-left:-20px;
	margin-top:-20px;
	cursor: none;
	display:none;
}

.btn-info
{
	color: #fff;
	background-color: #4FC3F7;
	border-color: #03A9F4;
}
.pills
{
	padding:5px;
	border-radius:5px;
	margin-right:10px;
	border: 1px solid #BDBDBD;
	background-color:#E0E0E0;
}
.tag_menu,
.tag_menu:hover
{
	padding: 5px !important;
	margin-top: 10px;
	width:65px;
	color:#222 !important;
	opacity:0.5;
}
.tag_menu.active
{
	opacity:1;
}
#tags_line
{
	margin-bottom: 20px;
}
.tag_default,
.tag_default:hover
{
	border: 1px solid #BDBDBD;
	background-color:#E0E0E0 !important;
}
.tag_epfl,
.tag_epfl:hover
{
	border: 1px solid #EF5350;
	background-color:#EF9A9A !important;
}
.tag_admin,
.tag_admin:hover
{
	border: 1px solid #FFC107;
	background-color:#FFE082 !important;
}
.tag_perso,
.tag_perso:hover
{
	border: 1px solid #26A69A;
	background-color:#80CBC4 !important;
}
.tag_job,
.tag_job:hover
{
	border: 1px solid #CE93D8;
	background-color: #E1BEE7 !important;
}
.tag_people,
.tag_people:hover
{
	border: 1px solid #81C784;
	background-color: #C8E6C9 !important;
}
.selected_note
{
	border: 2px solid #000 !important;
}
.column.trash .note
{
	opacity: 0.3 !important;
}